.btn_custom {
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    width: 300%;
    height: 100%;
    border-style: none;
    background: #a64bf4;
    background-repeat: no-repeat;
    color: white;
    background: -moz-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff); 
    background: linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
    position: absolute;
    left: -100%;
    top: 0;
    &:hover{
        transition: .5s all;
        left:0;

    }


}
.name_btn{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
    cursor: pointer;
}

/*
0% background: -webkit-linear-gradient(left, #00dbde, #fc00ff)
50% background: -webkit-radial-gradient(#00dbde, #fc00ff)
100% background: -webkit-linear-gradient(right, #00dbde, #fc00ff)
*/
