.btn_custom{
    width: 100%;
    border-style: none;
    background: #a64bf4;
background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
background: -o-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
background: -moz-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
background: linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
}