@import '../../variablesScss/variable.scss';

.login{
    background-color: white;
    width: 500px;
    padding: 65px 55px 54px ;
    border-radius: 10px;
    position: relative;
    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 39px;
        color: $primary_color;
        text-align: center;
        padding-bottom: 49px;
    }
    .forgot_psw_link{
        text-align: end;
        padding-bottom: 31px;
        padding-top: 8px;
        font-weight: 400;
        // a{
        //     color: #212529;
        //     text-decoration: none;
        //     &:hover{
        //         color: #a64bf4;
        //     }
        // }
    }
    .forgot_psw_link2{
        font-weight: 400;
        a{
            color: #212529;
            text-decoration: none;
            &:hover{
                color: #a64bf4;
            }
        }
}
}

@media all and (max-width:576px) {
    .login{
        padding-left: 15px;
        padding-right: 15px;
    }
}