@import "../../../variablesScss/variable.scss";
.box_inputCustom,
.box_inputCustom_password {
    margin-bottom: 23px;
    position: relative;
}
.input_mod_content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d9d9d9;
    .content_input {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #adadad;
    }
}
.box_inputCustom_password {
    margin-bottom: 0;
}
.label_custom_login {
    display: block;
    color: $primary_color;
    padding-left: 7px;
}
.Input_custom_login {
    width: 90%;
    line-height: 1.2;
    height: 55px;
    color: $secondary_color;
    font-weight: 500;
    font-size: 16px;
    border-style: none;
    font-family: "Poppins";
    &::placeholder {
        color: #adadad;
    }
    &:focus {
        outline: none;
        .input_mod_content .content_input {
            color: #a64bf4;
        }
    }
}
